<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <%= form_for @booking, url: {action: :update} do |f| %>
    <div class="col-3">
      <h2><strong>Status</strong></h2>
      <%= f.select :status, collection: Booking.statuses.keys.to_a %>
    </div><br>
    <div class="col-3">
      <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
    </div>
    <% end %> 
    </div>
  </div>
</div>
