<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
 <%= render partial: 'layouts/seller_header'%>
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <h2>Update Booking Status</h2>
    <%= form_for @booking, url: {action: :update} do |f| %>
    <div class="col-3">
      <%= f.select :status, collection: Booking.statuses.keys.to_a %>
    </div><br>
    <div class="col-3">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
    <% end %> 
  </div>
</main>
<!--Main layout-->
