<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <h2><strong>All Bookings</strong></h2>
      <%= form_tag(seller_bookings_path, method: :get, id: "filter-form") do %>
        <div class="dropdown">
          <select class="form-select" name="filter_by" aria-label="Filter By">
            <option selected disabled>Filter By</option>
            <option value="none">None</option>
            <option value="date">Date</option>
            <option value="mark_done">Mark Done</option>
            <option value="rejected">Rejected</option>
            <option value="pending">Pending</option>
            <option value="in_progress">In Progress</option>
          </select>
        </div>
      <% end %>
      <script>
        $(document).ready(function() {
          $('#filter-form select').change(function() {
            $('#filter-form').submit();
          });
        });
      </script>
      <% if @bookings.any? %>
    <br><div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Event Date" %></th>
                <th><%= "City" %></th>
                <th><%= "Address" %></th>
                <th><%= "Phone" %></th>
                <th><%= "Description" %></th>
                <th><%= "Status" %></th>
                <th><%= "Operation" %></th>
              </tr>
            </thead>
            <% @bookings.each do |booking|%>
            <tbody>
              <tr>
                <td class=""><%= booking.event_date %></td>
                <td class=""><%= booking.city %></td>
                <td class=""><%= booking.address %></td>
                <td class=""><%= booking.phone %></td>
                <td class=""><%= booking.description %></td>
                <td class=""><%= booking.status %></td>
                <td>
                  <%= link_to ('<i class="fa-solid fa-trash" style="color:gray"></i>').html_safe, seller_booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, seller_booking_path(booking) %>
                  <%= link_to ('<i class="fa-solid fa-pen-to-square" style="color:gray"></i>').html_safe, edit_seller_booking_path(booking) %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <br><h5><%= "No Bookings" %></h5>
      <% end %>
    </div>
  </div>
</div>
