<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
  <%= render partial: 'layouts/seller_header'%>
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">
      <h2>My Bookings</h2>
      <% if @bookings.any? %>
        <div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Event Date" %></th>
                <th><%= "City" %></th>
                <th><%= "Address" %></th>
                <th><%= "Phone" %></th>
                <th><%= "Description" %></th>
                <th><%= "Status" %></th>
                <th><%= "Operation" %></th>
              </tr>
            </thead>
            <% @bookings.each do |booking|%>
            <tbody>
              <tr>
                <td class=""><%= booking.event_date %></td>
                <td class=""><%= booking.city %></td>
                <td class=""><%= booking.address %></td>
                <td class=""><%= booking.phone %></td>
                <td class=""><%= booking.description %></td>
                <td class=""><%= booking.status %></td>
                <td>
                  <%= link_to ('<i class="fa-solid fa-trash" style="color:gray"></i>').html_safe, seller_booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, seller_booking_path(booking) %>
                  <%= link_to ('<i class="fa-solid fa-pen-to-square" style="color:gray"></i>').html_safe, edit_seller_booking_path(booking) %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <br><h5><%= "No Bookings" %></h5>
      <% end %>
    </div>
</main>
<!--Main layout-->