<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-4">
            <h2><strong>Booking</strong></h2>
            <% @user=User.find(@booking.user_id) %>
            <h5><b>User Name:&nbsp;&nbsp;</b><%= @user.fname %><h5>
            <% @service=Service.find(@booking.service_id) %>
            <h5><b>Service Name:&nbsp;&nbsp;</b><%= @service.tittle %><h5>
            <h5><b>Event Date:&nbsp;&nbsp;</b><%= @booking.event_date %><h5>
            <h5><b>City:&nbsp;&nbsp;</b><%= @booking.city %><h5>
            <h5><b>Address:&nbsp;&nbsp;</b><%= @booking.address %><h5>
            <h5><b>Phone:&nbsp;&nbsp;</b><%= @booking.phone %><h5>
            <h5><b>Description:&nbsp;&nbsp;</b><%= @booking.description %><h5>                  
            <h5><b>Status:&nbsp;&nbsp;</b><%= @booking.status %><h5>                  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
