<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
       <%= link_to "Main Dashboard", admin_dashboard_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "Authorize", admin_authorize_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "User Quries", admin_contact_us_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">

      <%= link_to 'FamEve', admin_dashboard_path , class: "navbar-brand" %>
      <h5> Admin@fameve.com </h5>

      <%= link_to ('<i class="fa-solid fa-right-from-bracket" style="color:gray"></i>').html_safe, destroy_user_session_path, method: :delete  %>

    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">
        <h2>Manage Queries</h2><br>
        <% if @contacts.any? %>
        <div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Name" %></th>
                <th><%= "Phone" %></th>
                <th><%= "Email" %></th>
                <th><%= "Subject" %></th>
                <th><%= "Description" %></th>
                <th><%= "Actions" %></th>
              </tr>
            </thead>
            <% @contacts.each do |contact|%>
            <tbody>
              <tr>
                <td class=""><%= contact.name %></td>
                <td class=""><%= contact.phone %></td>
                <td class=""><%= contact.email %></td>
                <td class=""><%= contact.subject %></td>
                <td class=""><%= contact.description %></td>
                <td>
                  <%= link_to ('<i class="fa-solid fa-trash" style="color:gray"></i>').html_safe, admin_contact_u_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, admin_contact_u_path(contact) %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <br><h5><%= "No Data" %></h5>
      <% end %>
    </div>
</main>
<!--Main layout-->