<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/admin_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <h2><strong>Manage Queries<strong></h2><br>
        <% if @contacts.any? %>
        <div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Name" %></th>
                <th><%= "Phone" %></th>
                <th><%= "Email" %></th>
                <th><%= "Subject" %></th>
                <th><%= "Description" %></th>
                <th><%= "Actions" %></th>
              </tr>
            </thead>
            <% @contacts.each do |contact|%>
            <tbody>
              <tr>
                <td class=""><%= contact.name %></td>
                <td class=""><%= contact.phone %></td>
                <td class=""><%= contact.email %></td>
                <td class=""><%= contact.subject %></td>
                <td class=""><%= contact.description %></td>
                <td>
                  <%= link_to ('<i class="fa-solid fa-trash" style="color:gray"></i>').html_safe, admin_contact_u_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, admin_contact_u_path(contact) %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <br><h5><%= "No Data" %></h5>
      <% end %>
    </div>
  </div>
</div>
