<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <%= link_to "Main Dashboard", seller_dashboard_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "Services", seller_services_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "Bookings", seller_bookings_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "Manage Requests", seller_post_requests_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "View Sales", seller_sales_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <%= link_to 'FamEve', seller_dashboard_path , class: "navbar-brand" %>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>

        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
          <%= image_tag @user.image, class: "rounded-circle", height: "22", loading: "lazy" %>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <%= link_to 'My Profile', seller_profile_path, class: "dropdown-item" %>
            </li>
            <li>
                <%= link_to 'Manage Profile', edit_user_registration_path, class: "dropdown-item" %>
            </li>
            <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">
      <h2>Manage Requests</h2>
      <% if @requests.any? %>
        <div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Tittle" %></th>
                <th><%= "Description" %></th>
                <th><%= "Event Date" %></th>
                <th><%= "Email" %></th>
                <th><%= "City" %></th>
                <th><%= "Address" %></th>
                <th><%= "Phone" %></th>
                <th><%= "Budget" %></th>
                <th><%= "Operation" %></th>
              </tr>
            </thead>
            <% @requests.each do |request|%>
            <tbody>
              <tr>
                <td class=""><%= request.tittle %></td>
                <td class=""><%= request.description %></td>
                <td class=""><%= request.event_date %></td>
                <td class=""><%= request.email %></td>
                <td class=""><%= request.city %></td>
                <td class=""><%= request.address %></td>
                <td class=""><%= request.phone %></td>   
                <td class=""><%= request.budget %></td>   
                <td>
                  <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, seller_post_request_path(request) %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <br><h5><%= "No Requests" %></h5>
      <% end %>
    </div>
</main>
<!--Main layout-->