<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <h2><strong>Buyer Requests</strong></h2>
      <% if @requests.any? %>
        <div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Tittle" %></th>
                <th><%= "Description" %></th>
                <th><%= "Event Date" %></th>
                <th><%= "Email" %></th>
                <th><%= "City" %></th>
                <th><%= "Address" %></th>
                <th><%= "Phone" %></th>
                <th><%= "Budget" %></th>
                <th><%= "Operation" %></th>
              </tr>
            </thead>
            <% @requests.each do |request|%>
            <tbody>
              <tr>
                <td class=""><%= request.tittle %></td>
                <td class=""><%= request.description %></td>
                <td class=""><%= request.event_date %></td>
                <td class=""><%= request.email %></td>
                <td class=""><%= request.city %></td>
                <td class=""><%= request.address %></td>
                <td class=""><%= request.phone %></td>   
                <td class=""><%= request.budget %></td>   
                <td>
                  <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, seller_post_request_path(request) %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <h5><%= "No Requests" %></h5>
      <% end %>
    </div>
  </div>
</div>