<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
  <%= render partial: 'layouts/admin_header'%>  
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">
      <h2>Manage Reviews</h2>
      <% if @reviews.any? %>
        <div id="auto_update">
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Service Name" %></th>
                <th><%= "Posted by user" %></th>
                <th><%= "Review" %></th>
                <th><%= "status" %></th>
                <th><%= "change status" %></th>
              </tr>
            </thead>
            <% @reviews.each do |review|%>
            <tbody>
              <tr>
                <td class=""><%= review.service.tittle %></td>
                <td class=""><%= review.user.fname %></td>
                <td class=""><%= review.description %></td>
                <td class=""><%= review.status %></td>
                <td>
                  <%= check_box_tag 'Allow', review.id, review.status,
                  data: {
                    remote: true,
                    url: admin_review_path(review),
                    method: "PATCH",
                    type: "json",
                  } %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <h2><%= "No Data" %></h2>
      <% end %>
  </div>
</main>
<!--Main layout-->

