<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
  <%= render partial: 'layouts/seller_header'%>
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">
      <h2>My profile</h2><br><br>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-4">
            <div class="d-flex justify-content-center">
              <%= image_tag @user.image, style: "width:200px", class: "rounded-circle"%>
            </div>
          </div>
          <div class="col-4">
            <h5><b>First Name:&nbsp;&nbsp;</b><%= @user.fname %><h5>
            <h5><b>Last Name:&nbsp;&nbsp;</b><%= @user.lname %><h5>
            <h5><b>City:&nbsp;&nbsp;</b><%= @user.city %><h5>
            <h5><b>Address:&nbsp;&nbsp;</b><%= @user.address %><h5>
            <h5><b>Phone:&nbsp;&nbsp;</b><%= @user.phone %><h5>
            <h5><b>Skill:&nbsp;&nbsp;</b><%= @user.skill %><h5>
            <h5><b>Experience:&nbsp;&nbsp;</b><%= @user.experience %><h5>
            <h5><b>Education:&nbsp;&nbsp;</b><%= @user.education %><h5>
            <h5><b>Certification:&nbsp;&nbsp;</b><%= @user.certification %><h5>
          </div>
        </div>
      </div>
    </div>
</main>
<!--Main layout-->