<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
        <div class="col-4">
          <h2><strong>My Profile</strong></h2>
          <h5><b>First Name:&nbsp;&nbsp;</b><%= @user.fname %><h5>
          <h5><b>Last Name:&nbsp;&nbsp;</b><%= @user.lname %><h5>
          <h5><b>City:&nbsp;&nbsp;</b><%= @user.city %><h5>
          <h5><b>Address:&nbsp;&nbsp;</b><%= @user.address %><h5>
          <h5><b>Phone:&nbsp;&nbsp;</b><%= @user.phone %><h5>
          <h5><b>Skill:&nbsp;&nbsp;</b><%= @user.skill %><h5>
          <h5><b>Experience:&nbsp;&nbsp;</b><%= @user.experience %><h5>
          <h5><b>Education:&nbsp;&nbsp;</b><%= @user.education %><h5>
          <h5><b>Certification:&nbsp;&nbsp;</b><%= @user.certification %><h5>
        </div>
    </div>
  </div>
</div>

