<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-100">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h2 class="text-center">Change your password</h2>
            <p class="text-center">Enter new password below</p>
          </div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
            <div class="mb-3">
              <label for="pswrd" class="form-label">New Password</label>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, class: "form-control", placeholder: "New Password", 
                required: true %>
            </div>
            <div class="mb-3">
              <label for="pswrd_cnfrm" class="form-label">Confirm new password</label>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password", 
                required: true %>
            </div>
            <%= f.submit "Change my password", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>