<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <%= link_to "Main Dashboard", admin_dashboard_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "Authorize", admin_authorize_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
        <%= link_to "User Quries", admin_contact_us_path, :class => 'list-group-item list-group-item-action py-2 ripple' %>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">

      <%= link_to 'FamEve', admin_dashboard_path , class: "navbar-brand" %>
      <h5> Admin@fameve.com </h5>

      <%= link_to ('<i class="fa-solid fa-right-from-bracket" style="color:gray"></i>').html_safe, destroy_user_session_path, method: :delete  %>

    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">
      <h2>Authorize Users</h2>
      <% if @users.any? %>
        <div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "fname" %></th>
                <th><%= "lname" %></th>
                <th><%= "email" %></th>
                <th><%= "phone" %></th>
                <th><%= "city" %></th>
                <th><%= "address" %></th>
                <th><%= "status" %></th>
                <th><%= "change status" %></th>
              </tr>
            </thead>
            <% @users.each do |user|%>
            <tbody>
              <tr>
                <td class=""><%= user.fname %></td>
                <td class=""><%= user.lname %></td>
                <td class=""><%= user.email %></td>
                <td class=""><%= user.phone %></td>
                <td class=""><%= user.city %></td>
                <td class=""><%= user.address %></td>
                <td class=""><%= user.status %></td>
                <td>
                  <%= check_box_tag 'completed', user.id, false,
                  data: {
                  remote: true,
                  url: admin_path(user),
                  method: "GET"
                  } %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <h2><%= "No Data" %></h2>
      <% end %>
  </div>
</main>
<!--Main layout-->

