<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/admin_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
       <h2><strong>Validate Sellers<strong></h2><br>
      <% if @users.any? %>
        <div id="auto_update">
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "fname" %></th>
                <th><%= "lname" %></th>
                <th><%= "email" %></th>
                <th><%= "phone" %></th>
                <th><%= "city" %></th>
                <th><%= "address" %></th>
                <th><%= "status" %></th>
                <th><%= "change status" %></th>
              </tr>
            </thead>
            <% @users.each do |user|%>
            <tbody>
              <tr>
                <td class=""><%= user.fname %></td>
                <td class=""><%= user.lname %></td>
                <td class=""><%= user.email %></td>
                <td class=""><%= user.phone %></td>
                <td class=""><%= user.city %></td>
                <td class=""><%= user.address %></td>
                <td class=""><%= user.status %></td>
                <td>
                  <%= check_box_tag 'completed', user.id, user.status,
                  data: {
                    remote: true,
                    url: admin_path(user),
                    method: "PATCH",
                    type: "json",
                    target: "#auto_update"
                  } %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <h2><%= "No Data" %></h2>
      <% end %>
    </div>
  </div>
</div>


