<%= render partial: 'layouts/navbar'%>
<%= stylesheet_link_tag 'style' %>
<div class="about-section">
  <h1>Our Team</h1>
  <p>Our development team consists of three members: Zeeshal, Irtaza and Uneeb.</p>
  <p>The project "Family Event Organizer" is supervised by Tahir Farooq.</p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag "uneeb.jpg", style: "width:100%" %>
      <div class="container">
        <h2>Uneeb Nawaz</h2>
        <p class="title">Developer</p>
        <p>Hi! I am Uneeb. I am full stack ROR developer.</p>
        <p>f190237@nu.edu.pk</p>
        <p><%= link_to 'Contact', new_contact_u_path , class: "button" %></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag "irtaza.jpg", style: "width:100%" %>
      <div class="container">
        <h2>Irtaza Zafar</h2>
        <p class="title">Developer</p>
        <p>Hi! I am Irtaza. I am full stack ROR developer.</p>
        <p>f190242@nu.edu.pk</p>
        <p><%= link_to 'Contact', new_contact_u_path , class: "button" %></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag "zeeshal.jpg", style: "width:100%" %>
      <div class="container">
        <h2>Zeeshal Butt</h2>
        <p class="title">Developer</p>
        <p>Hi! I am zeeshal. I am full stack ROR developer.</p>
        <p>f190264@nu.edu.pk</p>
        <p><%= link_to 'Contact', new_contact_u_path , class: "button" %></p>
      </div>
    </div>
  </div>
</div> 

<%= render partial: 'layouts/footer'%>
