<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/advisor_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <%= form_for @advise, url: {action: :update} do |f| %>
    <div class="col-5">
      <h2><strong>Give Advice</strong></h2>
      <%= f.text_area :advise, placeholder: 'Write here.', class: "form-control", required: true %>
    </div><br>
    <div class="col-3">
      <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
    </div>
    <% end %> 
    </div>
  </div>
</div>
