<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/advisor_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
        <h2><strong>Requests</strong></h2>
       <% if @advises.any? %>
        <div>
          <table class="table">
            <thead class = "text-dark">
              <tr>
                <th><%= "Subject" %></th>
                <th><%= "Description" %></th>
                <th><%= "Advise" %></th>
                <th><%= "Operation" %></th>
              </tr>
            </thead>
            <% @advises.each do |advise|%>
            <tbody>
              <tr>
                <td class=""><%= advise.subject %></td>
                <td class=""><%= advise.description %></td>
                <td class=""><%= advise.advise %></td>
                <td>
                  <%= link_to ('<i class="fa-solid fa-trash" style="color:gray"></i>').html_safe, advisor_advise_path(advise), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, advisor_advise_path(advise) %>
                  <%= link_to ('<i class="fa-solid fa-pen-to-square" style="color:gray"></i>').html_safe, edit_advisor_advise_path(advise) %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% else %>
        <h5><%= "No Data" %></h5>
      <% end %>
    </div>
  </div>
</div>