<%= stylesheet_link_tag 'dashboard' %>
<!--Main Navigation-->
<header>
  <%= render partial: 'layouts/seller_header'%>
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
    <h2>Edit Service</h2>
    <%= form_for @service, url: {action: :update} do |f| %>
    <div class="col-3">
      <%= f.text_field :tittle, placeholder: 'tittle', class: "form-control", required: true %>
    </div>
    <div class="col-3">
      <%= f.text_area :description, placeholder: 'description', class: "form-control", required: true %>
    </div>
    <div class="col-3 mt-3">
      <%= f.select :category, ['Hotels', 'Decoration', 'Photographer', 'Rental Cars', 'Music System', 'Dress Designer', 'Event Manager', 'Chef', 'Others' ], class: "form-control", required: true %>
    </div>
    <div class="col-3 mt-3">
      <%= f.select :event_type, ['Wedding', 'Birthday', 'Family Gathering'], class: "form-control", required: true%>
    </div>
    <div class="col-3 mt-3">
      <%= f.text_field :price, placeholder: 'price', class: "form-control", required: true %>
    </div>
    <div class="col-3">
      <%= f.text_field :portfolio, placeholder: 'portfolio', class: "form-control", required: true %>
    </div>
    <div class="col-3">
      <%= f.file_field :image, class: "form-control-file" %><br>
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
    <% end %> 
  </div>
</main>
<!--Main layout-->
