<style type="text/css">
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover; /* This property will ensure that the image fills the entire space of the container without distorting the aspect ratio */
  }
</style>
<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <% if @services.any? %>
        <div class="container">
          <div class="card-deck">
            <% @services.each do |service| %>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <%= image_tag service.image, class: "card-img-top" %>
                  <div class="card-body">
                    <h5 class="card-title"><b><%= service.tittle %></b></h5>
                    <p class="card-text"><%= service.description %></p>
                    <p><b>Category:&nbsp;&nbsp;</b><%= service.category %></p>
                    <p><b>Event Type:&nbsp;&nbsp;</b><%= service.event_type %></p>
                    <p><b>Price:&nbsp;&nbsp;</b><%= service.price %></p>
                    <p><b>Portfolio:&nbsp;&nbsp;</b><%= link_to "Portfolio", "http://#{service.portfolio}", :target => "_blank", rel: "alternate" %></p>
                     <%= link_to ('<i class="fa-solid fa-trash" style="color:gray"></i>').html_safe,  seller_service_path(service), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <%= link_to ('<i class="fa-sharp fa-solid fa-eye" style="color:gray"></i>').html_safe, seller_service_path(service) %>
                    <%= link_to ('<i class="fa-solid fa-pen-to-square" style="color:gray"></i>').html_safe, edit_seller_service_path(service) %>   
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <h5><%= "No Data" %></h5>
      <% end %>
    </div>
  </div>
</div>
