<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <%= image_tag @service.image, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><b><%= @service.tittle %></b></h5>
              <p class="card-text"><%= @service.description %></p>
              <h5><b>Category:&nbsp;&nbsp;</b><%= @service.category %><h5>
              <h5><b>Event Type:&nbsp;&nbsp;</b><%= @service.event_type %><h5>
              <h5><b>Based In:&nbsp;&nbsp;</b><%= @service.city %><h5>
              <h5><b>Price:&nbsp;&nbsp;</b><%= @service.price %><h5>
              <h5><b>Portfolio:&nbsp;&nbsp;</b><%= link_to "Portfolio", "http://#{@service.portfolio}", :target => "_blank", rel: "alternate" %><h5>   
            </div>
          </div>
        </div>
        <div class="col mr-5">
          <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
              <div class="form-outline mb-4">
                <label class="form-label" for="addANote">Reviews from users</label>
              </div>
              <% if @reviews.any? %>
                <% @reviews.each do |review| %>
                  <div class="card mb-4">
                    <div class="card-body">
                      <p><%= review.description %></p>
                      <div class="d-flex flex-row align-items-center">
                        <%= image_tag "img_avatar.png", width: "25", height: "25" %>
                        <p class="small mb-0 ms-2"><%= review.user.fname %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
