<div class="wrapper d-flex align-items-stretch">
  <%= stylesheet_link_tag 'seller_style' %>
  <%= stylesheet_link_tag 'view_sales' %>
  <%= render partial: 'layouts/seller_header'%>
    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <div class="container-fluid">
       <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Sales Earnings</h5>
              <% if @services.any? %>
                <% total_price = @services.sum(&:price) %>
                <span class="h2 font-weight-bold mb-0">Rs. <%= total_price %></span>
              <% else %>
                <span class="h2 font-weight-bold mb-0">Rs. 0</span>
              <% end %>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fa-solid fa-money-bill-1-wave"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Services Sold</h5>
              <% if @services.any? %>
                <% services_count = @services.count %>
                <span class="h2 font-weight-bold mb-0">No. <%= services_count %></span>
              <% else %>
                <span class="h2 font-weight-bold mb-0">No. 0</span>
              <% end %>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fas fa-chart-pie"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>