<nav id="sidebar">
  <div class="p-4 pt-5">
    <% @user = User.find(current_user.id) %>
    <%= image_tag @user.image, class: "img logo rounded-circle mb-5", style: "background-image" %>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <%= link_to 'Profile', seller_profile_path, data: { toggle: "collapse", target: "#homeSubmenu" }, aria: { expanded: "false" }, class: "dropdown-toggle" %>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <%= link_to 'My Profile', seller_profile_path %>
          </li>
          <li>
            <%= link_to 'Manage Profile', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to "Main Dashboard", seller_dashboard_path %>
      </li>
      <li>
        <%= link_to "Add a Service", new_seller_service_path %>
      </li>
      <li>
        <%= link_to "Manage Services", seller_services_path %>
      </li>
      <li>
        <%= link_to "Manage Bookings", seller_bookings_path %>
      </li>
      <li>
        <%= link_to "Manage Requests", seller_post_requests_path %>
      </li>
      <li>
        <%= link_to "View Sales", seller_sales_path %>
      </li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  (function($) {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

  })(jQuery);
</script>